* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
.container-global {
  padding: 10px;
}

h1{
    color: #ffffff;
    margin: 20px;
    font-size: 2em;
    z-index: 2;
    text-shadow: 1px 1px 1px black;
}

h2{
    color: #ffffff;
    font-size: 1.6em;
    text-shadow: 1px 1px 1px black;
    z-index: 2;
}
.container-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #3767a7;
  width: 100%;
  padding: 15px;
  border-bottom: 15px solid #ffffff;
  z-index: 100;
  position: fixed;
}

.content-header {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

ul li a {
  text-decoration: none;
  padding: 5px 10px;
  background-color: #3767a7;
  font-size: 1.5em;
  /* border-radius: 15px; */
  color: #ffffff;
  margin: 10px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  font-weight: bold;
}

ul li a:hover {
  /* background-color: #36c580; */
  transition: 0.4s;
  border-bottom: 5px solid rgb(255, 255, 255);
  border-top: 5px solid white;
  color: #ffffff;
  /* box-shadow: 2px 2px 2px rgba(0,0,0, 1); */
}

/* serviços */

.section-servicos{
  border-bottom: #ffffff solid 5px;
  margin-top: 170px;
}

.container-servicos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("./img/banner-seviços.jpg");
  background-size: cover;
  width: 100%;
  position: relative;
}

.container-servicos::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(55, 103, 167, 0.8);
    margin: 0, 0, 0, 0;
    position: absolute;
    z-index: 1;
}

.content-cards {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
  z-index: 2;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #1e59a7;
    margin: 20px;
    padding: 0px 0px 20px 0px;
    width: 250px;
    border-radius: 30px;
    border: 1px solid black;
}
.cards:hover{
    transition: 0.4s;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
    transform: scale(1.1);
    cursor: pointer;
    
}

.cards h2{
    margin-top: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

.cards p{
    padding: 10px;
    text-align: justify;
    margin-top: 10px;
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
}

#img-card {
  width: 100%;
  border-radius: 30px 30px 0px 0px;
  border-bottom: 1px solid black;
}

.btn-whatsapp {
  z-index: 2;
}

.btn-whatsapp{
  text-decoration: none;
  color: white;
  padding: 15px;
  background-color: #3767a7;
  border-radius: 15px;
  margin-bottom: 25px;
  border: #ffffff solid 2px;
}

.btn-whatsapp:hover{
  background-color: #ffffff;
  color: #1e59a7;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  transform: scale(1.1);
  transition: 0.4s;
}


