:root {
  /* serviços */
  --bg-serviços: #004643;
  --titulo-serviços: #fffffe;
  --paragrafo-servicos: #abd1c6;
  --bg-before-servicos: rgba(0, 70, 67, 0.5);
  --border: #ff9900;
  /* cards */
  --bg-card: #abd1c6;
  --text-card: #001e1d;
  /* btn */
  --btn: #ff9900;
  --text-btn: #001e1d;
  --btn-hover: #f5b351;
  /* Galeria */
  --bg-galeria: #abd1c6;
  --titulo-galeria: #001e1d;
  --subtitulo-galeria: #0f3433;
  --paragrafo-galeria: #abd1c6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
.container-global {
  margin-top: 0;
  padding: 0px 20px;
}

h1 {
  color: var(--titulo-serviços);
  margin: 20px;
  font-size: 3em;
  z-index: 2;
  text-shadow: 1px 1px 1px black;
}

h2 {
  color: var(--titulo-serviços);
  font-size: 2em;
  text-shadow: 1px 1px 1px black;
  z-index: 2;
}
.container-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-serviços);
  padding: 15px;
  border-bottom: 5px solid var(--border);
  z-index: 99;
  position: fixed;
  left: 20px;
  right: 20px;
  margin-top: 0%;
}

.content-header {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

ul li a {
  text-decoration: none;
  padding: 5px 10px;
  background-color: var(--bg-serviços);
  font-size: 1.5em;
  /* border-radius: 15px; */
  color: #ffffff;
  margin: 10px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  font-weight: bold;
}

ul li a:hover {
  /* background-color: #36c580; */
  transition: 0.4s;
  border-bottom: 5px solid var(--border);
  border-top: 5px solid var(--border);
  color: #ffffff;
  /* box-shadow: 2px 2px 2px rgba(0,0,0, 1); */
}

/* home */

.container-home {
  background-color: var(--bg-galeria);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  height: 750px;
  border-bottom: var(--border) solid 10px;
}

.container-content-home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 50px;
}

.content-psicologia {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--subtitulo-galeria);
  width: 50%;
  height: 300px;
  padding: 20px;
  border-radius: 0px 80px 80px 80px;
  margin-top: 40px;
  /* border-left: 15px solid var(--border); */
}

.content-psicologia h2 {
  color: var(--paragrafo-galeria);
  margin-left: 15px;
  margin-bottom: 15px;
  text-align: center;
  margin: 10px 20px;
}

.content-psicologia p {
  margin-left: 15px;
  margin-right: 15px;
  color: var(--paragrafo-galeria);
  text-align: justify;
  font-weight: 600;
  font-size: 1.1em;
}

.content-paleta {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-paleta-down {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content-paleta-left {
  margin: 5px;
}

#paleta-left {
  width: 200px;
  border-radius: 20px;
  margin-bottom: 75px;
  border: solid 3px var(--bg-serviços);
}

.content-paleta-rigth {
  margin: 5px;
}

#paleta-rigth {
  width: 200px;
  border-radius: 20px;
  margin-top: 75px;
  border: solid 3px var(--bg-serviços);
}

/* serviços */

.section-servicos {
  border-bottom: var(--border) solid 10px;
}

.container-servicos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("./img/banner-seviços.jpg");
  background-size: cover;
  width: 100%;
  position: relative;
}

.title {
  color: var(--titulo-galeria);
  font-size: 3.5em;
  margin-top: 120px;
  text-shadow: 2px 2px 2px rgba(0, 70, 67, 1);
}

.sub-title {
  color: var(--titulo-serviços);
  font-size: 3.5em;
  margin-top: 50px;
  text-shadow: 2px 2px 2px rgba(0, 70, 67, 1);
}

.container-servicos::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--bg-before-servicos);
  margin: 0, 0, 0, 0;
  position: absolute;
  z-index: 1;
}

.content-cards {
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-top: 15px;
  z-index: 2;
  font-size: 16px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--bg-card);
  margin: 50px;
  width: 300px;
  border-radius: 30px;
  border: 2px solid var(--text-card);
}
.cards:hover {
  transition: 0.4s;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
  transform: scale(1.1);
  cursor: pointer;
}

.cards h2 {
  margin-top: 10px;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  color: var(--text-card);
  font-size: 1.6rem;
}

.cards p {
  padding: 10px;
  text-align: justify;
  margin-top: 10px;
  font-weight: 700;
  color: var(--paragrafo-servicos);
  color: var(--text-card);
}

#img-card {
  width: 100%;
  border-radius: 30px 30px 0px 0px;
  border-bottom: 1px solid black;
}

.btn-whatsapp {
  z-index: 2;
}

.btn-whatsapp {
  text-decoration: none;
  color: var(--text-btn);
  padding: 15px;
  background-color: var(--btn);
  border-radius: 15px;
  margin-bottom: 25px;
  border: #000000 solid 2px;
  font-size: 1.3em;
  font-weight: 600;
}

.btn-whatsapp:hover {
  background-color: var(--btn-hover);
  color: var(--text-btn);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  transform: scale(1.1);
  transition: 0.4s;
}


/* Galeria */
.galeria{
  background-color: var(--bg-galeria);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
  position: relative;
  border-bottom: var(--border) solid 10px;
}

.title-galeria{
  color: var(--titulo-galeria);
  font-size: 3.5em;
  margin-top: 30px;
}

/* Carrosel */

.slideshow-container {
  max-width: 1000px;
  width: 50%;
  position: relative;
  margin: auto;
  padding-top: 30px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: var(--subtitulo-galeria);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: var(--titulo-galeria);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #3d9491;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: var(--subtitulo-galeria);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}